/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 15px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-table {
    margin-top: 20px;
}




/*padding 相关 */
.pt10{ padding-top: 10px; }
.pt20{ padding-top: 20px; }
.pt30{ padding-top: 30px; }
.pt40{ padding-top: 40px; }

/*margin 相关 */
.mt10{ margin-top: 10px; }
.mt15{ margin-top: 15px; }
.mt20{ margin-top: 20px; }
.mt30{ margin-top: 30px; }
.mt40{ margin-top: 40px; }
